<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>ChumPi - GUI Frontend</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
  <link rel="stylesheet" href="./assets/app.css"/>
</head>

<body layout="column" ng-cloak>
    <md-toolbar ng-if="$root.showToolbar"
                layout="row" layout-align="space-between center"
                class="md-toolbar-tools">
        <md-button ng-click="back()" aria-label="Back">
            <md-icon md-svg-icon="back"></md-icon>
        </md-button>
        <div>{{title}}</div>
        <div>{{time}}</div>
    </md-toolbar>

    <md-content flex ng-view md-colors="{background: 'background'}"></md-content>

    <script src="./jspm_packages/system.js" type="text/javascript"></script>
    <script src="config.js" type="text/javascript"></script>
    <script type="text/javascript">
        System.import('app/boot/boot')
              .catch(console.error.bind(console));
    </script>
</body>
</html>
