<div layout="column" layout-align="space-around center" layout-fill
     md-swipe-left="$ctrl.nextView()" md-swipe-right="$ctrl.prevView()">

    <h1 ng-if="$ctrl.view == 'top_alltime'">Most Popular (All Time)</h1>
    <h1 ng-if="$ctrl.view == 'top_month'">Most Popular (Last Month)</h1>
    <h1 ng-if="$ctrl.view == 'hourly'">Orders by Hour</h1>

    <div ng-if="($ctrl.view == 'top_alltime' && !$ctrl.topAllTime) ||
                ($ctrl.view == 'top_month' && !$ctrl.topMonth) ||
                ($ctrl.view == 'hourly' && !$ctrl.ordersByHour)"
         layout="column" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <table ng-if="$ctrl.view == 'top_alltime' && $ctrl.topAllTime">
        <thead>
            <tr>
                <td>Rank</td>
                <td>Product</td>
                <td>Orders</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in $ctrl.topAllTime">
                <td>{{$index + 1}}</td>
                <td>{{order.product}}</td>
                <td>{{order.count}}</td>
            </tr>
        </tbody>
    </table>

    <table ng-if="$ctrl.view == 'top_month' && $ctrl.topMonth">
        <thead>
            <tr>
                <td>Rank</td>
                <td>Product</td>
                <td>Orders</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in $ctrl.topMonth">
                <td>{{$index + 1}}</td>
                <td>{{order.product}}</td>
                <td>{{order.count}}</td>
            </tr>
        </tbody>
    </table>

    <table ng-if="$ctrl.view == 'hourly' && $ctrl.ordersByHour">
        <thead>
            <tr>
                <td></td>
                <td align="center" ng-repeat="hour in $ctrl.hours">{{hour}}</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="day in $ctrl.days">
                <td>{{day}}</td>
                <td ng-repeat="hour in $ctrl.hours">
                    <svg width="22" height="22">
                        <circle cx="11" cy="11"
                                r="{{$ctrl.ordersByHour[$parent.$index][hour] / $ctrl.maxOrders * 11}}">
                        </circle>
                    </svg>
                </td>
            </tr>
        </tbody>
    </table>

    <md-radio-group layout="row" layout-align="center"
                    ng-model="$ctrl.view" ng-change="$ctrl.changeView()">
        <md-radio-button value="top_alltime" aria-label="Top (All Time)"></md-radio-button>
        <md-radio-button value="top_month" aria-label="Top (Last Month)"></md-radio-button>
        <md-radio-button value="hourly" aria-label="By Hour"></md-radio-button>
    </md-radio-group>
</div>
