<div ng-if="!$ctrl.poll"
     layout="column" layout-align="center center" layout-fill>
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-if="$ctrl.poll && !$ctrl.isShowResults"
     layout="column" layout-align="space-around center" layout-fill>
    <h1>{{$ctrl.poll.question}}</h1>

    <md-radio-group ng-model="$ctrl.selected">
        <md-radio-button ng-repeat="answer in $ctrl.poll.answers"
                         value="{{$index}}">
            {{answer.answer}}
        </md-radio-button>
    </md-radio-group>
    <div layout="row" layout-align="center">
        <md-button ng-disabled="!$ctrl.selected"
                   ng-click="$ctrl.vote()">
            Vote
        </md-button>
        <md-button ng-click="$ctrl.showResults()">
            Results
        </md-button>
    </div>
</div>

<div ng-if="$ctrl.poll && $ctrl.isShowResults"
     layout="column" layout-align="space-around center" layout-fill>
    <h1>{{$ctrl.poll.question}}</h1>

    <div style="width: 50%">
        <div ng-repeat="answer in $ctrl.poll.answers">
            <div layout="row" layout-align="space-between">
                <div>{{answer.answer}}</div>
                <div>{{answer.votes}} votes</div>
            </div>
            <md-progress-linear md-mode="determinate"
                                value="{{$ctrl.getPercent(answer)}}">
            </md-progress-linear>
        </div>
    </div>

    <md-button ng-click="$ctrl.back()">
        Back
    </md-button>
</div>
