<div ng-if="!$ctrl.forecast" layout="column" layout-align="center center" layout-fill>
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div ng-if="$ctrl.rainy" layout="column" layout-align="center center" id="rainy" layout-fill>
    <pi-weather-card />
</div>

<div ng-if="$ctrl.snowy" layout="column" layout-align="center center" id="snowy" layout-fill>
    <pi-weather-card />
</div>

<div ng-if="!$ctrl.rainy && !$ctrl.snowy" layout="column" layout-align="center center" id="sunny" layout-fill>
    <pi-weather-card />
</div>