[ng-cloak] {
  display: none;
}

html, body {
  cursor: none !important;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.content-container {
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

/* MOTD */

#clock {
  text-align: center;
  margin-top: 30vh;
}

#motd {
  text-align: center;
  margin-top: 20vh;
}

/* Icons */
md-icon.applist-icon {
    height: 5vw;
    width: 5vw;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom: 0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform: scale(0.70);
}

md-bottom-sheet md-icon {
  margin-right: 20px;
}

span.name {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px;
}
