<div class="md-inline-form">
    <md-content layout="column" layout-padding>
        <md-input-container>
            <label>Question</label>
            <input ng-model="$ctrl.question">
        </md-input-container>
        <md-input-container>
            <label>Answer 1</label>
            <input ng-model="$ctrl.answer1">
        </md-input-container>
        <md-input-container>
            <label>Answer 2</label>
            <input ng-model="$ctrl.answer2">
        </md-input-container>
        <md-input-container>
            <label>Answer 3</label>
            <input ng-model="$ctrl.answer3">
        </md-input-container>
        <md-input-container>
            <label>Answer 4</label>
            <input ng-model="$ctrl.answer4">
        </md-input-container>
        <md-input-container>
            <label>Answer 5</label>
            <input ng-model="$ctrl.answer5">
        </md-input-container>
        <md-input-container>
            <label>Answer 6</label>
            <input ng-model="$ctrl.answer6">
        </md-input-container>
        <md-button ng-click="$ctrl.create()">
            Create Poll
        </md-button>
    </md-content>
</div>
