<div layout="row" layout-align="space-around center" class="content-container">
    <md-button ng-click="$ctrl.goTo('/games/2048')" aria-label="2048">
        <div layout="column" layout-align="center center">
            <md-icon md-svg-icon="apps" md-colors="{color: 'accent'}" class="applist-icon"></md-icon>
            <div>2048</div>
        </div>
    </md-button>
    <md-button ng-click="$ctrl.goTo('/polls')" aria-label="Polls">
        <div layout="column" layout-align="center center">
            <md-icon md-svg-icon="poll" md-colors="{color: 'accent'}" class="applist-icon"></md-icon>
            Polls
        </div>
    </md-button>
    <md-button ng-click="$ctrl.goTo('/coffee')" aria-label="Statistics">
        <div layout="column" layout-align="center center">
            <md-icon md-svg-icon="coffee" md-colors="{color: 'accent'}" class="applist-icon"></md-icon>
            Statistics
        </div>
    </md-button>
    <md-button ng-click="$ctrl.goTo('/weather')" aria-label="Weather">
        <div layout="column" layout-align="center center">
            <md-icon md-svg-icon="weather" md-colors="{color: 'accent'}" class="applist-icon"></md-icon>
            Weather
        </div>
    </md-button>
    <md-button ng-click="$ctrl.goTo('/xkcd')" aria-label="XKCD">
        <div layout="column" layout-align="center center">
            XKCD
        </div>
    </md-button>
</div>
