<div layout="row" layout-align="space-around">
    <md-button style="width: 100px; height: 100px"
               ng-click="$ctrl.goTo('/games/2048')"
               aria-label="2048">
        2048
    </md-button>
    <md-button style="width: 100px; height: 100px"
               ng-click="$ctrl.goTo('/polls')"
               aria-label="Polls">
        Polls
    </md-button>
    <div style="width: 100px; height: 100px"></div>
    <div style="width: 100px; height: 100px"></div>
    <div style="width: 100px; height: 100px"></div>
</div>
